/*Default style for the whole project

It sets up:
    - margins, fonts, colors
    - header
    - navbar
    - body
*/

body{
    margin: 40px 120px 50px 120px;
    min-width: 320px;
    font-family: "Segoe UI", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

header{
    padding: 0px 50px 0px 50px;
    box-shadow: inset 0 -1px 0 #DEE2E6;
}

.siteTitle{
    font-family: "IBM Plex Serif", serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar li{
    float: left;
}

.navbar a{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.activeNav{
    box-shadow: inset 0 -3px 0 #007BFF;
}

.activeNav a{
    color: #6C757D;
}

.activeNav a:hover{
    background-color: #F8F9FA;
    box-shadow: inset 0 -3px 0 #007BFF;
}

.inactiveNav a{
    color: #007BFF;
}

.inactiveNav a:hover{
    background-color: #F8F9FA;
    color: #0056B3;
}